
@import "tailwindcss";

html,
body,
#root {
  padding-top: 15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
  background: #4A4A4A;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

@media (min-width: 640px) {
  html, body, #root {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (min-width: 1024px) {
  html, body, #root {
    padding-left: 45px;
    padding-right: 45px;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}